{
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": "airbnb",
  "plugins": [
    "sorting"
  ],
  "rules": {
    "import/extensions": "off",
    "import/imports-first": "off",
    "import/no-extraneous-dependencies": "off",
    "max-len": [
      "error",
      120
    ],
    "new-cap": "off",
    "newline-before-return": "error",
    "sort-imports": "error",
    "sort-keys": "error",
    "sort-vars": "error"
  }
}